
.tic
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(61, 146, 61, 0.715);
    font-size: 80px;
}
button
{
    width: 100%;
}
.signup
{
    background-color: rgba(61, 146, 61, 0.715);
    height: 600px;
    width: 499px;
    border-radius: 20px;
    margin-inline: auto;
    
}

.clearfix button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 10px;
  }

  .clearfix button:hover {
    color: #04AA6D;
    background-color:black ;
  }
  .container input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 15px 0;
    display: inline-block;
    border: none;
    background: #000000;
    color: white;
    border-radius: 5px;
  }
  .container
  {
    margin-top: 50px;
  }
  .signupmain
  {
    background-color: black;
    display: inline;
  }
  .container button
  {
    margin-top: 10px;
  }
  
  .signin
  {
      background-color: rgba(61, 146, 61, 0.715);
      height: 5 30px;
      width: 499px;
      border-radius: 20px;
      margin-inline: auto;
      
  }